# Welcome to the session 8 Introduction to Julia!
This jupyter notebook will contains examples, tutorials and execises.

The order of the code cell is refering to the text tutorials and lecture video. Please execute the cells one-by-one 
(Shift + Enter) instead of run the whole notebook

## 1.1 Get started on Julia Programming
### 1.1.1 First interactive session
It is the example of using jupyter notebook for julia programming. 

When you enter an expression in the cell and press Run, the jupyter notebook will output the result.

In [15]:
1+2

3

The result will stored to variable ans automatically, same as the Julia command line

In [3]:

print(ans)

nothing

## 1.2 Basic Concept of Julia
### 1.2.1 "Hello World" Program
"Hello, World!" program is a computer program that outputs or displays the message "Hello, World!". It is the very simple program in most programming languages.

The following is the "Hello World" program in Julia

In [4]:
print("Hello World")

Hello World

### 1.2.2 Valid and Invalid name in Julia
Julia supports using non-english characters(in UTF-8 encoding) as the variblear names. The following are the examples of valid and invalid names in Julia

Valid variables

In [5]:
abc = 1

1

In [6]:
_abc = 2

2

In [7]:
abc!123 = 3

3

In [8]:
Î´ = 4

4

In [9]:
ì•ˆë…•í•˜ì„¸ìš”abc123!Î´ = 5

5

Invalid variables

In [16]:
!abc = 1

LoadError: error in method definition: function Base.! must be explicitly imported to be extended

In [17]:
123abc = 2

LoadError: syntax: "123" is not a valid function argument name around In[17]:1

In [18]:
try = 3

LoadError: syntax: unexpected "="

#### Execise:
Try to create a variable, and run the cell to check the answer

## 1.3 Operators in Julia
There are three types of operators in Julia:
1. Arithmetic Operators
2. Bitwise Operators
3. Updating operators

#### Exercise: Use Julia as the calculator and calculate the following question

Q1. How many seconds are there in 42 minutes 42 seconds?

Q2. If you run a 10-kilometer race in 40 minutes, What is your average speed in kilometer per hour?
Please store the result to the variable speed.

You may execute this cell to check your answer and variable assignment

In [ ]:
print(speed == 15.0 ? "You are correct" : "Try again";)

## 1.4 Data Types in Julia
### 1.4.1 Primitive Types
Each variable has their own data type. Julia is a dynamically typed language and the language will decide the data type of a variable.

The following are the examples of different data types

In [ ]:
println("Signed Integer example: 123")
println(typeof(123))
println("Float example: 123.0")
println(typeof(123.0))
println("String example: \"123\"")
println(typeof("123"))
println("Character example: æˆ‘")
println(typeof('æˆ‘'))
println("Boolean example: true")
println(typeof(true))

The example of convert function

In [ ]:
a = 123
println("The original type of a:")
println(typeof(a))
println("The type of a after convert:")
a = convert(Float64,a)
println(typeof(a))

### 1.4.2 Composite Types
Composite type is one of the user-defined types in Julia. Composite type is a collection of variables, which means that it groups items of variant types into a single type.

It is usaully to represent subordinate relationship or attributes of a object, For example:
A student have the name and id. Name and id are belongs to the student

We will use the keyword "struct" to define a composite type

It is the example to create a composite called Student and create the variable called alice which is the type of Student:

In [ ]:
struct Student
name
id
end

In [ ]:
alice = Student("Alice",1)

If we need to access the variable inside the composite type, use dot

In [ ]:
println("Name:")
println(alice.name)
println("ID:")
println(alice.id)

The composite type is immutable, we cannot change the value after we create the variable

In [ ]:
alice.id=2

If you need to mutable composite type, you can add the keyword "mutable".
Also, you may restrict the type of variable using :: operator.

In [ ]:
mutable struct MutableStudent
name::String
id
end

In [ ]:
bob = MutableStudent("Alice",2)

In [ ]:
bob.name = "Bob"

and it will cause error if  the type is not match

In [ ]:
bob.name=123

#### Exercise:

Create a mutable composite type called Class, with 2 variables name(which should be a String) and class_size(should be a Int8)

Try to execute the following cell and check the result

In [ ]:
class = Class("1A",30)
class.class_size = 20
println("The mutable composite type is correct")
try
    class.name = 123
    class.class_size = "abc"
    println("Type checking is missing")
catch e
    println("Type checking is correct")
end

## 1.5 Character & String in Julia
### 1.5.1 Character
In Julia, the type Char is defined for storing a single character. The character is encoded with ASCII or UTF-8. 

We will use a pair of single quote to wrap the character

In [ ]:
println("Character example: a")
println(typeof('a'))

println("Character example: æˆ‘")
println(typeof('æˆ‘'))

println("Character example: ðŸ˜‹")
println(typeof('ðŸ˜‹'))

### 1.5.2 String
String is a sequence of characters. In Julia, string is wrapped by double quotes or triple double quotes.

In [ ]:
println("String example: a")
println(typeof("a"))

println("String example: Hello World")
println(typeof("Hello World"))

println("String example: Hello WorldðŸ˜‹")
println(typeof("Hello WorldðŸ˜‹"))

If we need to print multi lines for a single string, we need to use '\n'(New line character)

In [ ]:
print("Hello\n\n\n\nWorld")

To Access one of the character in a string, we use the following statement:
(name)[(position)]

Expression is allowed in the square backet

In [ ]:
str = "Hello world"
println("The first character")
println(str[1])
println("The last character")
println(str[11])
println("The last character")
println(str[end])
println("The second last character")
println(str[end-1])

To Access the sub-string in a string, we use the following statement: (name)[(position) : (position]

In alternative, we may use the function SubString(str, start position, end position)

Expression is allowed in the square backet

In [ ]:
str = "Hello world"
println("The sub string hello")
println(str[1:5])
println(SubString(str, 1, 5))

println("The sub string world")
println(str[7:end])
println(SubString(str, 7, 11))

#### Exercise: get the parts of the day based on variable str1, str2 and str3, and store to variable ans1,ans2 and ans3

In [ ]:
str1="Good Morning"
str2="Good Afternoon"
str3="Good Evening"

Check the answer

In [ ]:
if(ans1 == "Morning" && ans2 == "Afternoon" && ans3 == "Evening")
    print("Correct")
else
    print("Try again")
end

### 1.5.3 String operator
There are 2 String Operators in Julia: * for concatenation and ^ for Subtraction

^ has higher priority than *

For example:

In [ ]:
println("Example of concatenation:")
println("Hello" * "World")
println("")
println("Example of subtraction:")
println("Hello" ^ 3)
println("")
println("Example of using both ^ and *:")
println("Hello" * "World" ^ 3)

#### Exercise: Create the string "banana" with variable a,b and string operators

In [ ]:
a = ba
b = na

### 1.5.4 String Interpolation
In Julia, it is allowed to create a new string based on the previous defined string, variable or a expression

We use the character '$' for interpolation

For example:

In [ ]:
println("Create a customized greeting message")
name = "Alice"
println("Hello, $name")
println("")

println("Create a string with expression")
println("1+2=$(1+2)")
println("")

#### Exercise: Complete the following print statement

In [ ]:
x=10
println("What is the answer of 2x+1?")
println("2x+1 = ")

## 1.6 Functions in Julia
###1.6.1 Functions
In practice, we usually split the program into several functions.

We may use the keyword "function" or mathematical style to define a function.

In the example, we defined two function and perform the same calculation

In [ ]:
function fun1(x)
    return 2x+1
end

fun2(x) = 2x+1

When we use the function to perform calculations. It is called "call the function". A function is called with the parameters

In [ ]:
println("Calling fun1")
println(fun1(10))
println()
println("Calling fun2")
println(fun2(10))

### 1.6.2 Argument tyoes and overloading

The input of the function defination have a special name: argument. In some cases, we would like the function only to work on specific types. For example:

In [ ]:
function fun3(x::Int8)
    return 2x+1
end

It works

In [ ]:
fun3(convert(Int8,20))

It fails

In [ ]:
fun3(20)

In [ ]:
fun3(20.0)

Julia allows function overloading. 

The meaning of function overloading is: we can define two functions with the same name, but doing different things based on the types of input arguments

In [ ]:
fun4(x::Int64) = x + 100
fun4(x::Int8) = x + 1

fun4 (generic function with 2 methods)

In [ ]:
println("If the input is Int64")
println(fun4(20))
println()
println("If the input is Int8")
println(fun4(convert(Int8,20)))

If the input is Int64
120

If the input is Int8
21

#### Exercise: Design a function called calculate which is calculate 3*x^2+2x+1, and print the result within the function. It should only work on integer(Int64).

It should works and the result should be 17

In [ ]:
calculate(2)

The following cells should not work

In [ ]:
calculate(convert(Int8,2))

In [ ]:
convert(2.0)